## regular functions:

export("gofPIOSRn", "gofPIOSTn", "gofKernel", "gofRosenblattSnB", 
"gofRosenblattSnC", "gofRosenblattChisq", "gofRosenblattGamma", 
"gofSn", "gofKendallCvM", "gofKendallKS",
"gofWhite", "gofRn", "gofHybrid", "gofWhich", "gofWhichCopula", "gof",
"gofCheckTime", "gofco", "gofADGamma", "gofADChisq"
)

exportClass("gofCOP")
exportClass("goftime")

S3method(print, gofCOP)
S3method(print, goftime)

# imports:

import("copula")
import("parallel")
import("foreach")
import("doParallel")
import("R.utils")
importFrom("VineCopula", BiCopGofTest, BiCopDeriv, BiCopDeriv2, BiCopPDF)
importFrom("SparseGrid", createIntegrationGrid)
importFrom("numDeriv", grad)
importFrom("methods", is)
importFrom("MASS", ginv)
importFrom("stats", constrOptim, cor, cov, ecdf, lm, optimise, qnorm, qt, pchisq)
importFrom("utils", tail)